filebeat.prospectors:
- type: log
  enabled: true
  paths:
    - {{ cs_path }}/events.log
    - {{ cs_path }}/weblog.log
    - {{ cs_path }}/logs/**/*.log
output.logstash:
  hosts: ["{{ elk_server }}:{{ logstash_syslog_port }}"]
  ssl:
    certificate_authorities: [/etc/beat/beat-forwarder.crt]
    certificate: "/etc/beat/beat-forwarder.crt"
    key: "/etc/beat/beat-forwarder.key"
